@import "_reset.scss";
@import "_mixin.scss";



body {
    background-color: #edf0f1;
}

.ul-pending#pending::after {
    @include font(12px);
    text-align: center;
    color:grey;
    display:block;
    margin-bottom: 20px;
    content:'No hay tareas pendientes';
}

.ul-done#done::after {
    @include font(12px);
    text-align: center;
    color:grey;
    display: block;
    margin-top:20px;
    content:'Todavía no completaste ninguna tarea'
}

p, ul li {
    @include font(14px);
}

header{
    background-color: #BC3B69;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:15px;
    top: 0;
    left: 0;
    margin-bottom: 35px;
    
        input#commentBox.inputText{
        width: 99%;
        height: 48px;
        background: rgba(255, 255, 255, 0.2);
        color:white;
        font-size: 15px;
        border: none;
        position: relative;
        border-radius: 10px 25px 25px 10px;
        padding: 0 0 0 11px
        }

        input::placeholder{
        color: rgb(228, 186, 201);
        }
        input:focus {
        outline: none;
        }    
}

div ul li{
    width: 96%;
    margin:10px auto;
    background:white;
    color: grey;
    @include font(15px);
    border: none;
    border-radius: 7px;
    padding: 16px;
}

.plusBtn {
    @include btn-all(50px, 50px, url("../img/iconfinder-icon.svg") );
    position: absolute;
    top: 15px;
    right: 7px;
    background-size: 18px, 18px;
}

.deleteBtn {
    @include btn-all(20px, 20px, url("../img/IconDeleteNew.png") );
    margin-left: 15px;
    background-color: transparent;
 }

.checkBtn {
    @include btn-all(20px, 20px, url("../img/iconcheckgrey.png") );
    background-color: transparent;
}

.checkBtnColor {
    @include btn-all(20px, 20px, url("../img/iconcheckcolor.png") );
    background-color: transparent;
}

ul:nth-child(2){
    &:before{
    content:'';
    background-color: #d8e5e0;
    width: 20%;
    height: 2px;
    display: block;
    margin: auto
    }
}

@media only screen and (max-width: 999px) {
    div ul li{
    width: 84%;
    }
}

@media only screen and (max-width: 420px) {
    div ul li{
    width: 84%;
    }
    .ul-pending#pending::after {
        @include font(10px);
    }
    
    .ul-done#done::after {
        @include font(10px);
    }
}

// es recomendable que el breakpoint minimo de mobile este más cera de 360px
@media only screen and (max-width: 275px) {
    header{        
            // con la clase es suficiente
            input#commentBox.inputText{
            height: 39px;
            font-size: 10px;
            padding: 0 0 0 5px
            }
    }
    .plusBtn {
        @include btn-all(40px, 40px, url("../img/iconfinder-icon.svg") );
        background-size: 15px, 17px;
    }    
    
    div ul li{
    width: 79%;
    padding: 10px;
    @include font(12px)
    }


    .deleteBtn {
        background-size: 13px, 13px;
     }
    
    .checkBtn {
        background-size: 13px, 13px;
    }
    
    .checkBtnColor {
        background-size: 13px, 13px;
    }

    .ul-pending#pending::after {
        @include font(10px);
    }
    
    .ul-done#done::after {
        @include font(10px);
    }
}
