@import "_reset.scss";
@import "_mixin.scss";

 body {
     background-color: #edf0f1;
 }

.ul-pending#pending::after {
        content:'No hay tareas pendientes';
        @include font(10px);
        display: flex;
        justify-content: center
}
.ul-done#done::after {
        content:'Todavía no completaste ninguna tarea';
        @include font(10px);
        display: flex;
        justify-content: center
}

p, ul li {
    @include font(14px);
}

header{
    background-color: #BC3B69;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:15px;
    top: 0;
    left: 0;
    
    input#commentBox.inputText{
        width: 99%;
        height: 48px;
        background: rgba(255, 255, 255, 0.2);
        color:white;
        font-size: 15px;
        border: none;
        border-radius: 10px 25px 25px 10px;
        padding: 0 0 0 11px;
    }
    input::placeholder{
        color: rgb(228, 186, 201);
    }
}

div ul li{
    width: 98%;
    margin:10px auto;
    height: 48px;
    background:white;
    color: grey;
    font-size: 15px;
    border: none;
    border-radius: 10px;

}

.plusBtn {
    @include btn-all(50px, 50px, url("../img/iconfinder-icon.svg") );
    position: absolute;
    top: 15px;
    right: 17px;
    background-size: 18px, 18px;
}

.deleteBtn {
    @include btn-all(20px, 20px, url("../img/icondeltegrey.png") );
    float: right;
}

.checkBtn {
    @include btn-all(20px, 20px, url("../img/iconcheckgrey.png") );
    float: right;
}

.checkBtnColor {
    @include btn-all(20px, 20px, url("../img/iconcheckcolor.png") );
    float: right;
}




