@import "_reset.scss";
@import "_mixin.scss";

 body {
     background-color: #edf0f1;
 }

.ul-pending#pending::after {
        content:'No hay tareas pendientes';
}
.ul-done#done::after {
        content:'Todavía no completaste ninguna tarea'
}

p, ul li {
    @include font(14px);
}

header{
    background-color: #BC3B69;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:auto;
    width: 100%;
    overflow: hidden;
}

.plusBtn {
    @include btn-all(50px, 50px, url("../img/iconfinder-icon.svg") );
}

.deleteBtn {
    @include btn-all(20px, 20px, url("../img/icondeltegrey.png") );
}

.checkBtn {
    @include btn-all(20px, 20px, url("../img/iconcheckgrey.png") );
}

.checkBtnColor {
    @include btn-all(20px, 20px, url("../img/iconcheckcolor.png") );
}




